[Unit]
Description=Vector Log Collector
After=network.target docker.service
Requires=docker.service

[Service]
Type=forking
User=root
WorkingDirectory=/opt/ids2/webapp/backend/docker
ExecStart=/usr/bin/docker-compose up -d vector
ExecStop=/usr/bin/docker-compose stop vector
ExecReload=/usr/bin/docker-compose restart vector
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target